@import "compass/utilities/tables";

table {
  width: 100%;
  text-align: center;
  $table-color: hsl(7, 100%, 75%);
  @include table-scaffolding;
  @include inner-table-borders(1px, darken($table-color, 40%));
  @include outer-table-borders(2px);
  @include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);
}
